.headColor  {
    background-color: rebeccapurple;
}

#headInfo   {
    color: white;
}

a   {
    color: black;
}

a:hover {
    color: white;
    background-color: rebeccapurple;
}
a:link  {
    text-decoration: none;
}

