.headColor  {
    background-color: rebeccapurple;
    margin-top: 40px;
}

#headInfo   {
    color: white;
}

a   {
    color: black;
}

a:link  {
    color: white;
    text-decoration: none;
}

a:visited   {
    color: white;
}

a:active    {
    color: black;
}

a:hover {
    color: white;
    background-color: rebeccapurple;
}
body    {
    background-image: url("../images/starnight.gif");
}

h3  {
    color: white;
}

.choices  {
    color: white;
    margin-left: 10px;
    margin-top: 20px;
}
h1  {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -15px;
}
#questions  {
    color: white;
}
#buttonDiv  {
    text-align: center;

}
div     {
    text-align: center;
}
.play   {
    background-color: rebeccapurple;
    color: white;
    font-size: 20px;

}